@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 5% 96%;
    --foreground: 26 56% 4%;
    --muted: 356 19% 87%;
    --muted-foreground: 356 11% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 26 56% 3%;
    --card: 0 0% 99%;
    --card-foreground: 26 56% 3%;
    --border: 26 11% 93%;
    --input: 26 11% 93%;
    --primary: 26 65% 51%;
    --primary-foreground: 0 0% 0%;
    --secondary: 356 65% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 56 65% 51%;
    --accent-foreground: 56 65% 11%;
    --destructive: 9 83% 29%;
    --destructive-foreground: 9 83% 89%;
    --ring: 26 65% 51%;
    --radius: 0.5rem;
    --nav-background: 20 5.88% 90%;
  }

  .dark {
    --background: 33 5% 32%;
    --foreground: 26 31% 97%;
    --muted: 356 19% 13%;
    --muted-foreground: 356 11% 63%;
    --popover: 26 42% 3%;
    --popover-foreground: 26 31% 98%;
    --card: 26 42% 3%;
    --card-foreground: 26 31% 98%;
    --border: 26 11% 14%;
    --input: 26 11% 14%;
    --primary: 26 65% 51%;
    --primary-foreground: 0 0% 0%;
    --secondary: 356 65% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 56 65% 51%;
    --accent-foreground: 56 65% 11%;
    --destructive: 9 83% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 26 65% 51%;
    --nav-background: 12 6% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
